---
import type { RepoObject } from '../types/global';
import Card from './Card.astro';
interface Props {
	name: string;
	description: string;
	language: string;
	stargazers_count: number;
	forks_count: number;
	updated_at: string;
	html_url: string;
	homepage: string;
}
const {
	name,
	description,
	language,
	stargazers_count,
	forks_count,
	updated_at,
	html_url,
	homepage,
} = Astro.props;
---

<Card title={name} importance='h3'>
	<p>{description || 'Sin descripción'}</p>
	<p><strong>Stack:</strong> {language || 'N/A'}</p>
	<p>⭐ {stargazers_count} · 🍴 {forks_count}</p>
	<p>Actualizado: {new Date(updated_at).toLocaleDateString()}</p>
	<div class='actions'>
		<a href={html_url} target='_blank' rel='noopener'>Código</a>
		{
			homepage ? (
				<a href={homepage} target='_blank' rel='noopener'>
					Live Demo
				</a>
			) : (
				<a>Sin demo</a>
			)
		}
	</div>
</Card>
<style>
	.actions {
		display: flex;
		gap: 10px;
	}
	.actions > * {
		flex: 1 1 auto;
	}

	.actions > a {
		display: block;
		padding: 10px;
		border-radius: 5px;
		text-decoration: none;
	}
</style>
